[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendors/stb"]
	path = vendors/stb
	url = https://github.com/nothings/stb.git
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendors/assimp"]
	path = vendors/assimp
	url = https://github.com/assimp/assimp.git
[submodule "externals/tinyxml2"]
	path = externals/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "vendors/tinyxml2"]
	path = vendors/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "vendors/ImGuizmo"]
	path = vendors/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
